name: build and deploy

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    environment: master
    steps:
      - name: Checkout Github actions
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Run chmod to make gradlew executable
        run: chmod +x ./gradlew
        
      - name: Build with Gradle
        uses : gradle/gradle-build-action@v2
        with:
          arguments: |
            build
            --scan

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Dockerì— Build & Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/infra_practice_server:latest

      - name: copy docker-compose -> EC2 server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.INFRA_PRACTICE_SERVER_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          source: docker-compose.yml
          target: /home/ubuntu/

  deploy:
    runs-on: ubuntu-latest
    environment: master
    needs: build
    steps:
      - name: Docker compose
        uses: appleboy/ssh-action@1.0.3
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        with:
          host: ${{ secrets.INFRA_PRACTICE_SERVER_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          envs: DOCKERHUB_USERNAME
          script: |
            sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/infra_practice_server:latest
            sudo docker run -d -p 80:8080 --name deploy_container ${{ secrets.DOCKERHUB_USERNAME }}/infra_practice_server:latest